<!DOCTYPE html>
<html lang="ru" class="dark">
{{> head }}
<body class="bg-gray-900 text-gray-100">

    {{> navbar }}

    <main class="container mx-auto mt-12 px-4 py-6">
        {{{ body }}}
    </main>

</body>
</html>
