<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#111827" />
    <meta name="description" content="" />

    <link
        rel="icon"
        href="images/icons/icon_16_16.png"
        sizes="16x16"
        type="image/png"
    />
    <link
        rel="icon"
        href="images/icons/icon_32_32.png"
        sizes="32x32"
        type="image/png"
    />
    <link
        rel="icon"
        href="images/icons/icon_48_48.png"
        sizes="32x32"
        type="image/png"
    />
    <link
        rel="icon"
        href="images/icons/icon_180_180.png"
        sizes="180x180"
        type="image/png"
    />
    <link
        rel="icon"
        href="images/icons/icon_192_192.png"
        sizes="192x192"
        type="image/png"
    />
    <link
        rel="icon"
        href="images/icons/icon_512_512.png"
        sizes="512x512"
        type="image/png"
    />
    <link
        rel="icon"
        href="images/icons/icon_1024_1024.png"
        sizes="1024x1024"
        type="image/png"
    />
    <link
        rel="apple-touch-icon"
        href="images/icons/icon_180_180.png"
        type="image/png"
    />
    <link rel="manifest" href="manifest.json" />

    <script src="libraries/tailwind/tailwind-3.4.16.js"></script>

    <link rel="stylesheet" href="styles/main.css" />

    <title>{{data.title}}</title>
</head>